/* Leaflet needs its CSS */
@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

/* Optional: remove margin/padding so map fills the page */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
#map {
  height: 100%;
  width: 100%;
}

.custom-div-icon .marker-pin {
  width: 45px;
  height: 45px;
  border-radius: 50% 50% 50% 0;
  background: #2A81CB; /* default blue */
  position: absolute;
  transform: rotate(-45deg);
  left: 5px;
  top: 5px;
}

.custom-div-icon .marker-pin::after {
  content: '';
  width: 39px;
  height: 39px;
  margin: 3px 0 0 3px;
  background: white;  /* circle background */
  position: absolute;
  border-radius: 50%;
}

.custom-div-icon .marker-icon {
  width: 31px; 
  height: 31px;
  position: absolute;
  top: 11px;
  left: 11px;
  transform: rotate(0deg); /* rotate back */
}

/* Blue circle */
.circle-marker {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2A81CB;      /* Blue circle */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
  color: white;             /* Icon color */
  font-size: 18px;          /* Icon size */
}
